@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }

  .header-list {
    display: flex;
    gap: 30px;
  }

  .header-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    color: #ffffff;
    letter-spacing: 0.1em;
    transition: color 300ms linear;
    position: relative;
  }

  .header-link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    left: 0;
    bottom: -52px;
    border-radius: 2px;
  }

  .header-link:hover,
  .header-link:focus {
    color: #ff6c00;
  }

  .header-tel {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-right: 30px;
  }

  .header-btn {
    display: block;
    color: #ffffff;
  }

  .hero > .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 720px;
  }

  .hero-soc {
    width: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 27px;
    padding-bottom: 40px;
  }
  .hero-list {
    display: flex;
    align-items: center;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: bottom left;
    gap: 40px;
  }

  .hero-list::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
  }

  .hero-wrap {
    padding: 272px 98px 237px;
    background-image: var(--bg-gradient), url(../img/hero-bg-tab.jpeg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-gradient), url(../img/hero-bg-tab-2x.jpeg);
    }
  }

  .hero-after-title {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.67;
  }
  /*---------- ABOUT------------ */
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about > .container {
    /* padding-right: 100px; */
  }
  .about-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .about-item {
    width: 330px;
  }
  .about-wrap {
    max-width: 330px;
  }
  .about-text {
    margin-bottom: 77px;
  }
  /* --------------------------- */
  /*---------- PRICES------------ */
  .prices {
    background-image: url(../img/prices-img-bg-tab.png);
    max-width: 768px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .prices {
      background-image: url(../img/prices-img-bg-tab-2x.png);
    }
  }
  .prices-title.title {
    font-size: 42px;
    line-height: calc(49 / 42);
    margin-bottom: 44px;
  }
  .prices-item {
    gap: 12px;
  }
  .prices-list {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 32px;
    /* padding: 32px 40px; */
  }
  .prices-item-text {
    font-size: 18px;
    line-height: calc(30 / 18);
  }

  /* --------------------------- */
/*---------- BENEFITS------------ */
/* .benefits {
  padding-top: 100px;
  padding-bottom: 100px;
} */

.benefits > .container {
  /* display: flex;
  gap: 130px; */
  /* padding-left: 85px; */
}

.benefits-wrap {
  max-width: 500px;
}
.benefits-list {
  display: flex;
  width: 370px;
  flex-wrap: wrap;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}
.benefits-item .count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  text-align: center;
  display: block;
  position: relative;
}

.benefits-item .count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  position: absolute;
  top: 7px;
  color: #ff6c00;
  margin-left: 1px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: var(--typical-lh);
  text-align: center;
  color: var(--main-text-color);
}
.benefits-pre-title {
  color: var(--main-text-color);
  margin-bottom: 20px;
}
.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}




  .barbers {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .barbers > .container {
    width: 480px;
  }
  .test {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .test-item {
    width: calc((100% - 60px) / 3);
  }

  .gallery {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .gallery-pre-title {
    margin-bottom: 44px;
  }
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
